import.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persons">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="FIO"/>
              <xs:element type="xs:byte" name="age"/>
              <xs:element type="xs:snils-string" name="SNILS"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
      <xs:simpleType name="snils-string">
        <xs:restriction base="xs:string">
            <xs:length value="14"/>
            <xs:pattern value="[0-9]{3}\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}"/>
            <xs:pattern value="[0-9]{3}\-[0-9]{3}\-[0-9]{3}\s[0-9]{2}"/>
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>